*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: sans-serif;
}

main
{
    background-color:  #ffffff;
}

/*--------------nav-bar----------------*/

#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar
{
    background-image: linear-gradient(to right, #f3f1de, #f4f8bf);
    padding: 0 !important;
}

.navbar-nav li
{
    padding: 0 10px;
}

.navbar-nav li a
{
    color: rgb(48, 48, 48) !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.navbar-toggler
{
    outline: none !important;
}

/*--------------home-banner----------------*/

#banner
{
    background-image: linear-gradient(to right, #f3f1de, #f4f8bf);
    color: rgb(48, 48, 48);
    padding-top: 5%;
}

.promo-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

.catch-phrase
{
    margin-left: 3px;
}

.apply-btn
{
    width: 45px;
    margin: 20px;
    
}

#banner a
{
    color: rgb(48, 48, 48);
    text-decoration: none;
}

.bottom-img
{
    width: 100%;
}

/*--------------home-services----------------*/

#services
{
    padding: 80px 0;
}

.service-img
{
    width: 100px;
    height: 100px;
    margin-top: 20px;
}
